
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    <div id="Besokare" class="col-md-2">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    My recent visitors
                </div>
                <div id="topVisitors" class="panel-body text-center">
                </div>
            </div>
        </div>
    </div>
    }
else
{
}


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
<script type="text/javascript">

    $(document).ready(function () {
    $.getJSON('/Api/Visitor/VisitorList', function (data) {
        $.each(data, function (index) {
            $("#topVisitors").append(data[index].Name + "<br/>");
        });
    });
});
</script>
